.button{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight:  500;
    background: #835AFD;
    color: #fff;
    padding: 0 32px; // para centalizar o texto no meio do botão.
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
        margin-right: 8px;
    }

    &:not(:disabled):hover{   //Quando o botão estiver habilitado aplicar hover
        filter: brightness (0.9);
    }

    &:disabled{ // Quando o botão não estiver habilitado.
        opacity: 0.6;
        cursor:not-allowed; //Aplica caracterisca no cursor de não habilitado.
    }
}

